/*=========Common__Selectors_and_variables=========*/
.flex {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button {
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  background: #f1ac11;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.italic {
  font-style: italic;
}

.pointer {
  cursor: pointer;
}

.shadow {
  -webkit-box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.48) inset;
          box-shadow: 0px -5px 5px -5px rgba(0, 0, 0, 0.48) inset;
}

/*==================================================*/
.header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  padding: 0 70px 0 70px;
  height: 202px;
  z-index: 4;
}

.header .header__bar-desctop {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .header__bar-desctop .desctop-menu {
  max-width: 645px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 58px 0 0;
}

.header .header__bar-desctop .desctop-menu a {
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
  color: #fff;
}

.header .header__bar-desctop .desctop-menu a:hover {
  color: #f1ac11;
  border-bottom: 3px solid #f1ac11;
}

.burg {
  display: none;
}

.btn-up {
  display: none;
  position: fixed;
  bottom: 7%;
  right: 7%;
  width: 50px;
  height: 50px;
  z-index: 9000;
  border-radius: 50%;
  opacity: 0.7;
}

.btn-up .fas {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.btn-up:hover {
  opacity: 1;
}

.mobile-tab {
  position: fixed;
  top: 10%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0px 15px 15px 15px;
  margin: 0 auto;
}

.mobile-tab li {
  widtH: 100%;
  margin: 29px 0;
  padding: 0 0 3px 0;
  text-align: center;
  border-bottom: 2px solid #f1ac11;
}

.mobile-tab li a {
  color: #fff;
  font-size: 1.3em;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
}

.top {
  height: 100vh;
  background: url("img/top_block.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

.top .top-aside {
  height: 262px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 77px;
}

.top .top-aside .aside {
  height: 206px;
  max-width: 372px;
  background: url("img/aside.png") no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.6;
  font-family: "PT Sans", sans-serif;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top .top-aside .aside:first-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.top .top-aside .aside:last-child {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.top .top-aside .aside:hover {
  opacity: .9;
}

.aside-btn {
  max-width: 140px;
  height: 30px;
  font-size: 12px;
  letter-spacing: 1px;
  margin-top: 29px;
  font-weight: 400;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 81px 20px;
  text-align: center;
  /*Slider*/
}

main .main-title {
  font-family: "PT Sans", sans-serif;
  color: #f1ac11;
  font-size: 42px;
  padding: 0 0 55px 0;
}

main .main-menu {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0 0 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .main-menu .main-menu_subelement {
  position: absolute;
  top: -40px;
  left: 0px;
  width: 100%;
  max-width: 200px;
}

main .main-menu .main-menu_subelement .subelement__btn {
  height: 40px;
  border: none;
  outline: none;
  background: none;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

main .main-menu .main__menu-list {
  width: 100%;
  max-width: 409px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .main-menu .main__menu-list .menu__list-item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 42px 0;
}

main .main-menu .main__menu-list .menu__list-item .menu_list_item-icon {
  cursor: pointer;
}

main .main-menu .main__menu-list .menu__list-item .menu_list_item-description {
  max-width: 298px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

main .main-menu .main__menu-list .menu__list-item .menu_list_item-description .description-subitem {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "PT Sans", sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  padding: 13px 0 0 0;
}

main .main-menu .main__menu-list .menu__list-item .menu_list_item-description .description-subitem h2 {
  max-width: 247px;
}

main .main-menu .main__menu-list .menu__list-item .menu_list_item-description .description-subitem .description_subitem-ellipsis {
  width: 100%;
  max-width: 45px;
  border-bottom: 2px dotted;
}

main .main-menu .main__menu-list .menu__list-item .menu_list_item-description .description-subitem .description_subitem-price {
  background: url("img/icon_price.png") no-repeat;
  width: 100%;
  max-width: 44px;
  height: 27px;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
}

main .main-menu .main__menu-list .menu__list-item .menu_list_item-description .description-subitem p {
  text-transform: uppercase;
  font-size: 14px;
  font-style: italic;
  font-family: "PT Sans", sans-serif;
  white-space: nowrap;
  overflow: hidden;
  max-width: 247px;
  text-overflow: ellipsis;
  color: #bcbcbc;
}

main .main-menu .main__menu-list .menu__list-item .menu_list_item-description .description-subitem .description_subitem-element {
  max-width: 44px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

main .section-menu {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: auto;
  margin: 60px auto;
}

main .section_menu-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .section_menu_slider-bar {
  width: 100%;
  height: 300px;
  background-size: cover;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .slick-list {
  overflow: hidden;
}

main .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .section_menu_slider_bar-spaghetti {
  position: relative;
  width: 100%;
  max-width: 450px;
  height: 300px;
  background: url("img/spaghetti.jpg");
  background-size: cover;
  background-position: center;
}

main .section_menu_slider_bar-spaghetti:before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  background: #fff;
  border-radius: 50%;
  top: -40px;
  left: -40px;
  z-index: 90;
}

main .section_menu_slider_bar-spaghetti:after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  background: #fff;
  border-radius: 50%;
  bottom: -40px;
  left: -40px;
  z-index: 90;
}

main .section_menu_slider_bar-description {
  position: relative;
  width: 100%;
  text-align: left;
  padding: 30px 71px 0 30px;
  font-family: "PT Sans", sans-serif;
}

main .section_menu_slider_bar-description:before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  background: #fff;
  border-radius: 50%;
  top: -40px;
  right: -40px;
  z-index: 90;
}

main .section_menu_slider_bar-description:after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  background: #fff;
  border-radius: 50%;
  bottom: -40px;
  right: -40px;
  z-index: 90;
}

main .section_menu_slider_bar_description-title {
  color: #f1ac11;
  font-size: 12px;
}

main .section_menu_slider_bar_description-subtitle {
  font-size: 24px;
  margin: 20px 0 0 0;
  line-height: 27px;
}

main .section_menu_slider_bar_description-recipe {
  font-size: 14px;
  color: #d7d7d7;
  margin: 26px 0 0 0;
  line-height: 17px;
  text-transform: none;
}

main .section_menu_slider_bar_description--btn {
  width: 100%;
  max-width: 100px;
  height: 32px;
  font-size: 14px;
  margin: 25px 0 0 0;
}

.location {
  height: 490px;
  background: url("img/cafe panorama.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.location .location-card {
  position: relative;
  max-width: 568px;
}

.location .location-card .card-left_subelement {
  width: 100%;
  max-width: 284px;
  height: 330px;
  background: url("img/left_card.png") no-repeat;
}

.location .location-card .card-right_subelement {
  width: 100%;
  max-width: 284px;
  height: 330px;
  background: url("img/right_card.png") no-repeat;
}

.location .location-card .location_card-description {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 568px;
  height: 330px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.location .location-card .location_card-description .location_card_description-title {
  font-family: "PT Sans", sans-serif;
  font-size: 28px;
}

.location .location-card .location_card-description .location_card_description-aside {
  max-width: 430px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 40px 0 0 0;
}

.location .location-card .location_card-description .location_card_description-aside .card_description_aside-lable {
  max-width: 225px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.location .location-card .location_card-description .location_card_description-aside .card_description_aside-lable .card_description_aside_lable-title {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  color: #f1ac11;
}

.location .location-card .location_card-description .location_card_description-aside .card_description_aside-address {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

.location .location-card .location_card-description .location_card_description-btn {
  width: 100%;
  max-width: 130px;
  height: 32px;
  font-size: 14px;
  margin: 42px 0 0 0;
}

footer {
  width: 100%;
  height: auto;
  background: url("img/footer.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 80px 200px 80px 100px;
}

footer .footer-bar {
  width: 100%;
  max-width: 513px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-bar .footer_bar-item {
  display: block;
  width: 100%;
  max-width: 150px;
  text-align: left;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-style: italic;
}

footer .footer-bar .footer_bar-item .footer_bar_item-title {
  font-size: 22px;
  color: #fff;
  margin: 0 0 20px 0;
  cursor: pointer;
}

footer .footer-bar .footer_bar-item .footer_bar_item-list {
  font-size: 17px;
  color: #bbbbbb;
  margin: 10px 0 0 0;
  cursor: pointer;
}

footer .footer-bar .footer_bar-item .footer_bar_item-list:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer .footer-subscription {
  display: block;
  width: 100%;
  max-width: 336px;
  text-align: center;
  font-family: "PT Sans", sans-serif;
}

footer .footer-subscription .footer_subscription-title {
  font-size: 22px;
  color: #fff;
  margin: 0 0 20px 0;
}

footer .footer-subscription form {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-subscription form .footer_subscription-input {
  max-width: 223px;
  padding: 10px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  font-family: "PT Sans", sans-serif;
  font-size: 12px;
}

footer .footer-subscription form .footer_subscription-btn {
  max-width: 90px;
  height: 36px;
  font-size: 14px;
}
/*# sourceMappingURL=index.css.map */