@media only screen and (max-width: 1350px) {
    .header {
        height: 78px;
        padding: 0;
    }

    .header img {
        width: 252px;
    }

    .burg div {
        margin: 7px auto;
        width: 30px;
        height: 3px;
        background: #fff;
        z-index: 999;
    }

    .mobile-tab {
        opacity: 0.89;
        z-index: 90;
        background: #000;
    }

    .top {
        height: 129vh;
    }

    .top .top-aside {
        padding: 0;
        flex-direction: column;
        height: auto;
    }

    .top .top-aside .aside:first-child {
        -ms-flex-item-align: end;
        align-self: auto;
        margin: 112px 0 0 0;
    }

    .top .top-aside .aside:last-child {
        -ms-flex-item-align: end;
        align-self: auto;
    }

    main {
        padding: 30px 20px 0 20px;
    }

    main .main-menu .main-menu_subelement {
        left: 50%;
        transform: translate(-50%, 0);
    }

    .menu__list-item {
        flex-direction: column;
    }

    main .section-menu .section_menu-description .section_menu_description-asidebtn {
        top: 91%;
        left: 270px;
    }

    footer {
        flex-direction: column;
        padding: 80px 10px 80px 30px;
    }

    footer .footer-subscription {
        text-align: left;
    }

    footer .footer-subscription .footer_subscription-title {
        margin: 30px 0 20px 0;
    }

}

@media only screen and (max-width: 1020px) {

    /* footer .footer-bar {
        flex-direction: column;
    }

    footer .footer-bar .footer_bar-item {
        margin: 0 0 30px 0;
    }

    footer .footer-subscription form {
        flex-direction: column;
        align-items: stretch;
    }

    footer .footer-subscription form .footer_subscription-btn {
        margin: 30px 0 0 0;
    } */
}

@media only screen and (max-width: 800px) {
    .desctop-menu {
        display: none;
    }

    main .section_menu_slider-bar {
        justify-content: center;
        height: auto;
        flex-direction: column;
        }

    main .section_menu_slider_bar-spaghetti:before, 
    main .section_menu_slider_bar-spaghetti:after, 
    main .section_menu_slider_bar-description:before, 
    main .section_menu_slider_bar-description:after {
        display: none;
    }  

    main .section-menu .section_menu_slider_bar-spaghetti {
        margin: 0 auto;
        max-width: none;
        background-position: center right;
    }

    main .section-menu .section_menu-description {
        text-align: center;
        padding: 30px 30px 10px 30px;
    }

    main .section-menu .section_menu-description .section_menu_description-btn {
        margin-right: 150px; 
    }

    main .section-menu .section_menu-description .section_menu_description-asidebtn {
        top: 88%;
        left: 55%;
    }

    .burg {
        display: block;
        position: fixed;
        top: 2%;
        right: 5%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 70px;
        z-index: 9000;
    }
}


@media only screen and (max-width: 700px) {
    .main-menu {
        flex-direction: column;
        justify-content: center;
    }
}

@media only screen and (max-width: 570px) {
    .location_card-description {
        background: #fff;
    }

    .location_card_description-aside {
        flex-direction: column;
    }

    .card_description_aside-lable {
        margin: 0 0 30px 0;
    }

    footer .footer-bar {
        flex-direction: column;
    }

    footer .footer-bar .footer_bar-item {
        margin: 0 0 30px 0;
    }

    footer .footer-subscription form {
        flex-direction: column;
        align-items: stretch;
    }

    footer .footer-subscription form .footer_subscription-btn {
        margin: 30px 0 0 0;
    }
}